# Optional overrides for /etc/fvc/fvcd.env.
FVC_HOME=/var/lib/fvc
FVC_RUNTIME_DIR=/run/fvc
FVC_GRPC_NETWORK=unix
FVC_GRPC_ADDR=/run/fvc/fvcd.sock
# Required when FVC_GRPC_NETWORK=tcp.
# FVC_GRPC_TOKEN=change-me
FVC_RUNTIME_GROUP=fvc
FVC_RUNTIME_INIT_PATH=/usr/bin/fvc-init
FVC_RUNTIME_ROOT_DEVICE=/dev/vda
FVC_GUEST_AGENT_MODE=vsock
FVC_FIRECRACKER_PATH=/usr/bin/firecracker
FVC_JAILER_ENABLED=true
FVC_JAILER_PATH=/usr/bin/jailer
FVC_JAILER_CHROOT_BASE_DIR=/var/lib/fvc/jailer
FVC_JAILER_UID=65534
FVC_JAILER_GID=65534
FVC_IMAGE_BASE_URL=https://fvchubstorage.blob.core.windows.net/images
FVC_REQUIRE_IMAGE_CHECKSUMS=true
FVC_ALLOW_INSECURE_DOWNLOADS=false
FVC_ALLOW_HOST_IMAGE_PATHS=false
FVC_NETWORK_ENABLED=true
FVC_STRICT_RUNTIME_CHECKS=true
